/docker-cache

/xgboost/R-package
/xgboost/build
/xgboost/lib
/xgboost/python-package
/xgboost/xgboost
/xgboost/xgboost.mock
/xgboost/xgboost.mpi

*.a
*.class
*.dll
*.dylib
*.la
*.lai
*.lo
*.o
*.page
*.slo
*.so

.git/
target/

.DS_Store
.idea/
